
.van-tabbar-item {
  &__text {
    transform: scale(0.8);
  }
}

.van-tabs__line{
  z-index: 0 !important;
}

:root {
  --van-tabbar-item-active-color: #{$color-theme} !important;
  --van-tabbar-item-text-color: #{$color-theme-grey} !important;
  --van-tabbar-z-index: 100 !important;
  //菜单页

  --van-background-color: #f6f6f6 !important;
  --van-sidebar-selected-border-color: #{$color-theme} !important;
}
